@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stand-Up Timer Statistics</h1>
    <p class="lead">This is just a project to teach myself a bit of ASP.NET MVC. But feel free to use it anyway.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Download app</h2>
        <p>
            Try the Stand-Up Timer Windows App to live by a healthy stand-sit-dynamic while working at a desk.
        </p>
        <p><a class="btn btn-default" href="http://papamufflon.github.io/StandUpTimer/">Download &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register a user</h2>
        <p>Create yourself a user and log youself in via the Windows App to see beautiful charts about your stand-sit-dynamics on this website.</p>
        <p><a class="btn btn-default" href="/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help</h2>
        <p>When you have any ideas extending the Stand-Up Timer or this website, just drop me a line and I'll see what I can do. Or - even better - submit a pull request!</p>
        <p><a class="btn btn-default" href="https://github.com/PapaMufflon/StandUpTimer">Contribute &raquo;</a></p>
    </div>
</div>