<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Concordion.NET" version="1.2.0" targetFramework="net451" />
  <package id="DeltaCompressionDotNet" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net451" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net451" />
  <package id="NuGet.Core" version="2.8.5" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
  <package id="Selenium.Support" version="2.45.0" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.45.0" targetFramework="net451" />
  <package id="Splat" version="1.6.2" targetFramework="net451" />
  <package id="squirrel.windows" version="0.9.3" targetFramework="net451" />
  <package id="TestStack.Seleno" version="0.9.11" targetFramework="net451" />
  <package id="TestStack.White" version="0.13.3" targetFramework="net451" />
</packages>